укбп_СведенияУФК.xml
Form.xml
ФормаДокументаУправляемая.xml
ФормаПодбора.xml
ФормаСпискаУправляемая.xml
Documents/укбп_СведенияУФК/Forms/ФормаДокументаУправляемая/Ext/Form.xml
Documents/укбп_СведенияУФК/Forms/ФормаПодбора/Ext/Form.xml
Documents/укбп_СведенияУФК/Forms/ФормаСпискаУправляемая/Ext/Form.xml